.about-page-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-video{
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.about-video video{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(0.5px);
}

.about-heading{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  left:3em;
  bottom: 5em;
}

.ap-h1{
  font-size: 5em;
}

.ap-h2{
  font-size: 2.5em;
}


.our-story{
  width: 100%;
  height: auto;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  padding-bottom: 1em;
  gap:2em;
  font-family: NeueHaasUnicaPro-Regular,"Georgia","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.os-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  /* align-items: center; */
  padding-left: 3em;
}

.underline-os{
  width: 12em;
  height: 2px;
  background-color: black;
}

.p-os{
  /* width: 100%; */
  padding-right: 3em;
}

.os-image-part{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 40em;
}

.os-image-part img{
  height: 25em;
  width: 40em;
  padding: 0em 1em;
}


@media only screen and (max-width: 700px) {
  .about-heading{
    gap:1em;
    left: 1em;
    padding-right: 2em;
  }

  .ap-h1{
    font-size: 3em;
  }
  
  .ap-h2{
    font-size: 2em;
  }

  .our-story{
    gap:2em;
  }

  .os-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-left: 1.5em;
  }
  

  .os-image-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 40em;
    width: 23em;
  }

  .os-image-part img{
    height: 100%;
    width: 100%;
  }

  .os-image-part img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
  }
  
  
}

@media screen and (min-width: 700px) and (max-width: 830px) {
  .os-image-part{
    height: 20em;
    width: 22em;
  }
  .os-image-part img{
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .os-image-part{
    height: 20em;
    width: 30em;
  }
  .os-image-part img{
    height: 100%;
    width: 100%;
  }
}