.contact-form{
  width: 100%;
  /* gap:3em; */
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0em;
  padding-right: 4em;
}

.contact-form img{
  height: 150%;
  width: 50vw;
}

/* .toast-class{
  top:50%;
  z-index: 10000;
} */

/* form */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  /* padding: 20px; */
  /* border-radius: 20px; */
  position: relative;
  background-color: #ffffff;
  color: #333;
  /* border: 1px solid #333; */
}

.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rgb(36, 72, 182);
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 10px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #ffffff;
  color: #090909;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  width: 100%;
  outline: none;
  height: 3.5em;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


@media only screen and (max-width: 700px) {
  .contact-form{
   flex-direction: column;
   padding-right: 0;
  }
}