.slider-div {
  height: auto;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap:2em;
  /* overflow: hidden; */
}

.s-h1{
  text-align: center;
  color: #fff;
  z-index: -1;
}

.mySwiper{
  height: 40em;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid transparent;
}

.mySwiper img {
  height: 40em;
  width: 100%;
  transition: transform 0.5s ease;
}

.mySwiper img:hover {
  transform: scale(1.05);
}


.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet:hover {
  background-color: #fff;
}


.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .mySwiper,
  .mySwiper img{
    height: 20em;
  }

  .slider-div {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    gap:1em;
  }
}