.slider-div {
  height: 50vh;
  width: 100%;
  padding: 2em;
}

.s-h1{
  text-align: center;
  padding-top: 1em;
  color: #fff;
}

.mySwiper{
  border-radius: 25px;
}

img {
  height: 30em;
  width: 100%;
  transition: transform 0.5s ease;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.1);
}


.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet:hover {
  background-color: #fff;
}


.swiper-pagination-bullet-active {
  background-color: #ffffff;
}


@media only screen and (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .slider-div {
    padding: 1em;
  }
}