.tools-main-div{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em 0em;
}

.infinity-scroll{
  display: flex;
  gap: 7em;
}

.images{
  width: 5em;
  height: 5em;
}
.first-image{
  margin-left: 7em;
}
